.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px red;
}
.heading_div{
    float: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 20px;
    color: seagreen;
    box-shadow: 5px 5px 5px red;
}
.heading_div2{
    font-size: 18px;

}
.result_para_tag{
    font-size: 20px;
    box-shadow: 5px 5px 5px red;

}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px red;


}